<div class="card col-md-3 m-5" style="width: 18rem;">
  <img src="{{ item.image_url }}" class="card-img-top" alt="...">
  <div class="card-body text-danger">
      <div class="row d-flex">
          <h5 class="card-title col-6">{{ item.name }}</h5>
          <p class="card-text col-6 text-right">{{ item.price }}</p>
      </div>
      <div class="row d-flex">
          <p class="card-text col-md-6">{{ item.barcode }}</p>
          <a href="#" class="btn btn-primary col-md-6">Add to cart</a>
      </div>
  </div>
</div>
